Resources:
  AWSEBAutoScalingLaunchConfiguration:
    Type: "AWS::AutoScaling::LaunchConfiguration"
    Properties:
      BlockDeviceMappings:
        - DeviceName: "/dev/xvda"
          Ebs:
            VolumeType: "gp3"    # Set the volume type to gp3
            VolumeSize: 20       # Adjust the size as needed (default is usually 20 GB)
            DeleteOnTermination: true
      MetadataOptions:
        HttpTokens: "required"   # This disables IMDSv1 and forces the use of IMDSv2
        HttpEndpoint: "enabled"  # Keeps the IMDSv2 endpoint available
        HttpPutResponseHopLimit: 2