Resources:
    AWSEBAutoScalingLaunchConfiguration:
        Type: "AWS::AutoScaling::LaunchConfiguration"
        Properties:
            BlockDeviceMappings:
                - DeviceName: "/dev/xvda"
                Ebs:
                    VolumeType: "gp3"    # Set root volume type to gp3
                    VolumeSize: 20       # Set the volume size (adjust as needed)
                    DeleteOnTermination: true
            MetadataOptions:
                HttpTokens: "required"   # This disables IMDSv1 and forces the use of IMDSv2
                HttpEndpoint: "enabled"  # Keeps the IMDSv2 endpoint available
                HttpPutResponseHopLimit: 2
